<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">

    <!-- 基础配置 -->
    <property name="LOG_HOME" value="logs"/>
    <springProperty scope="context" name="APP_NAME" source="spring.application.name"/>

    <!-- 彩色日志渲染规则 -->
    <conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter"/>
    <conversionRule conversionWord="wex" converterClass="org.springframework.boot.logging.logback.WhitespaceThrowableProxyConverter"/>

    <!-- 控制台输出 -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){cyan} | %clr(%5p) | %clr([%15.15t]){magenta} | %clr(%-40.40logger{39}){cyan} : %m%n%wex</pattern>
        </encoder>
    </appender>

    <!-- 文件滚动策略 -->
    <appender name="FILE-ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_HOME}/${APP_NAME}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/archive/${APP_NAME}-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxHistory>30</maxHistory>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>50MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} | %5p | [%15.15t] | %-40.40logger{39} : %m%n%wex</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!-- 核心业务日志特殊配置 -->
    <logger name="com.z.billanalyzer" level="DEBUG" additivity="false">
        <appender-ref ref="CONSOLE"/>
<!--        <appender-ref ref="FILE-ROLLING"/>-->
    </logger>

    <!-- 根日志配置 -->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
<!--        <appender-ref ref="FILE-ROLLING"/>-->
    </root>

</configuration>