<configuration>
    <!-- 1. 先定义 Appender -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>UTF-8</charset>
            <pattern>[%d{yyyy-MM-dd HH:mm:ss}] [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- 2. 再配置 Root 日志级别并引用 Appender -->
    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>

    <!-- 3. 单独设置 EasyExcel 的日志级别 -->
    <logger name="com.alibaba.easyexcel" level="INFO" />

    <logger name="com.z.bill" level="DEBUG" />
</configuration>